.todo-list-parent {
    width: 100%;
    margin: 0 auto;
}

.todo-list-title{
    text-align: center;
}

.todo-generator{
    display: flex;
    align-items: center;
}

.todo-generator .input-generator {
    flex: auto;
}

.span-generator {
    margin: 0 10px;
}

.todo-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.todo-item .close-icon {
    margin-right: 8px;
}

.todo-item .edit-icon {
    margin-right: 8px;
}
.todo-item .detail-icon {
    margin-left: 0;
}
.todo-item-edit-span {
    margin: 10px;
}

.todo-item-card {

}

.todo-item-del-card {
    text-decoration: line-through;
}
