/*.app {*/
/*  text-align: center;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

/*.app > .nav-bar > nav > ul {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

/*.app > .nav-bar > nav > ul > li {*/
/*  list-style: none;*/
/*  padding-left: 10px;*/
/*}*/
